html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:27px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:108px;width:108px;min-height:36px;height:36px;}
.cont{z-index:1;pointer-events:auto;}
.img{position:absolute;left:0;width:108px;height:36px;top:0;}
.pos-3{position:relative;margin-left:-108px;margin-top:102px;}
.size-2{min-width:183px;width:183px;min-height:26px;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.size-3{min-width:58px;width:58px;min-height:26px;height:26px;}
.cont-3{pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:"PingFang TC", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(64,64,64);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-4{position:relative;margin-left:0;margin-top:4px;}
.size-4{min-width:125px;width:125px;min-height:22px;height:22px;}
.font-2{font-family:"PingFang TC", sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(184,184,184);background-color:initial;line-height:20px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:0;margin-top:20px;}
.size-5{min-width:1187px;width:1187px;min-height:79px;}
.pos-6{position:relative;margin-left:0;margin-top:1px;}
.size-6{min-width:227px;width:227px;min-height:78px;}
.cont-4{z-index:2;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-7{position:relative;margin-left:20px;margin-top:13px;}
.size-7{min-width:184px;width:184px;min-height:49px;}
.pos-8{position:relative;margin-left:0;margin-top:8px;}
.size-8{min-width:43px;width:43px;min-height:37px;height:37px;}
.cont-5{z-index:5;pointer-events:auto;}
.anchor{display:block;}
.img-2{position:absolute;left:3px;width:38px;height:37px;top:0;}
.pos-9{position:relative;margin-left:16px;margin-top:0;}
.size-9{min-width:125px;width:125px;min-height:49px;}
.colwrapper{line-height:0;}
.size-10{min-width:125px;width:125px;min-height:26px;height:26px;}
.cont-6{z-index:10;pointer-events:auto;}
.cont-7{z-index:13;pointer-events:auto;}
.pos-10{position:relative;margin-left:12px;margin-top:0;}
.cont-8{z-index:6;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-11{position:relative;margin-left:19px;margin-top:13px;}
.size-11{min-width:195px;width:195px;min-height:50px;}
.pos-12{position:relative;margin-left:0;margin-top:2px;}
.size-12{min-width:47px;width:47px;min-height:48px;height:48px;}
.cont-9{z-index:7;pointer-events:auto;}
.img-3{position:absolute;left:0;width:47px;height:48px;top:0;}
.pos-13{position:relative;margin-left:13px;margin-top:0;}
.size-13{min-width:135px;width:135px;min-height:49px;}
.cont-10{z-index:17;pointer-events:auto;}
.size-14{min-width:135px;width:135px;min-height:22px;height:22px;}
.cont-11{z-index:22;pointer-events:auto;}
.pos-14{position:relative;margin-left:14px;margin-top:1px;}
.cont-12{z-index:8;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-15{position:relative;margin-left:10px;margin-top:13px;}
.size-15{min-width:204px;width:204px;min-height:49px;}
.size-16{min-width:45px;width:45px;min-height:36px;height:36px;}
.cont-13{z-index:12;pointer-events:auto;}
.img-4{position:absolute;left:4px;width:37px;height:36px;top:0;}
.size-17{min-width:147px;width:147px;min-height:49px;}
.size-18{min-width:147px;width:147px;min-height:26px;height:26px;}
.cont-14{z-index:11;pointer-events:auto;}
.pos-16{position:relative;margin-left:12px;margin-top:1px;}
.cont-15{z-index:9;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-17{position:relative;margin-left:0;margin-top:6px;}
.size-19{min-width:49px;width:49px;min-height:40px;height:40px;}
.cont-16{z-index:18;pointer-events:auto;}
.img-5{position:absolute;left:4px;width:41px;height:40px;top:0;}
.pos-18{position:relative;margin-left:8px;margin-top:0;}
.cont-17{z-index:14;pointer-events:auto;}
.cont-18{z-index:15;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-19{position:relative;margin-left:12px;margin-top:13px;}
.size-20{min-width:202px;width:202px;min-height:49px;}
.pos-20{position:relative;margin-left:0;margin-top:7px;}
.size-21{min-width:48px;width:48px;min-height:38px;height:38px;}
.cont-19{z-index:21;pointer-events:auto;}
.img-6{position:absolute;left:5px;width:39px;height:38px;top:0;}
.pos-21{position:relative;margin-left:7px;margin-top:0;}
.cont-20{z-index:19;pointer-events:auto;}
.cont-21{z-index:24;pointer-events:auto;}
.pos-22{position:relative;margin-left:0;margin-top:27px;}
.size-22{min-width:469px;width:469px;min-height:78px;}
.cont-22{z-index:25;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-23{position:relative;margin-left:18px;margin-top:13px;}
.size-23{min-width:197px;width:197px;min-height:48px;}
.pos-24{position:relative;margin-left:0;margin-top:5px;}
.size-24{min-width:43px;width:43px;min-height:43px;height:43px;}
.cont-23{z-index:33;pointer-events:auto;}
.img-7{position:absolute;left:0;width:43px;height:43px;top:0;}
.pos-25{position:relative;margin-left:18px;margin-top:0;}
.size-25{min-width:136px;width:136px;min-height:48px;}
.cont-24{z-index:30;pointer-events:auto;}
.size-26{min-width:136px;width:136px;min-height:21px;height:21px;}
.pos-26{position:relative;margin-left:15px;margin-top:0;}
.cont-25{z-index:26;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-27{position:relative;margin-left:15px;margin-top:13px;}
.size-27{min-width:200px;width:200px;min-height:50px;}
.pos-28{position:relative;margin-left:0;margin-top:3px;}
.size-28{min-width:49px;width:49px;min-height:47px;height:47px;}
.cont-26{z-index:34;pointer-events:auto;}
.img-8{position:absolute;left:1px;width:48px;height:47px;top:0;}
.cont-27{z-index:32;pointer-events:auto;}
.cont-28{z-index:36;pointer-events:auto;}
.pos-29{position:relative;margin-left:-469px;margin-top:202px;}
.pos-30{position:relative;margin-left:0;margin-top:29px;}
.size-29{min-width:1200px;width:1200px;min-height:78px;}
.cont-29{z-index:27;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-31{position:relative;margin-left:11px;margin-top:13px;}
.size-30{min-width:193px;width:193px;min-height:49px;}
.size-31{min-width:56px;width:56px;min-height:43px;height:43px;}
.cont-30{z-index:28;pointer-events:auto;}
.img-9{position:absolute;left:6px;width:44px;height:43px;top:0;}
.cont-31{z-index:45;pointer-events:auto;}
.cont-32{z-index:53;pointer-events:auto;}
.pos-32{position:relative;margin-left:25px;margin-top:0;}
.cont-33{z-index:29;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.cont-34{z-index:48;pointer-events:auto;}
.cont-35{z-index:31;pointer-events:auto;}
.cont-36{z-index:55;pointer-events:auto;}
.cont-37{z-index:38;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.cont-38{z-index:41;pointer-events:auto;}
.cont-39{z-index:40;pointer-events:auto;}
.cont-40{z-index:46;pointer-events:auto;}
.pos-33{position:relative;margin-left:14px;margin-top:0;}
.cont-41{z-index:39;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.cont-42{z-index:44;pointer-events:auto;}
.cont-43{z-index:43;pointer-events:auto;}
.cont-44{z-index:57;pointer-events:auto;}
.cont-45{z-index:42;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-34{position:relative;margin-left:21px;margin-top:13px;}
.size-32{min-width:183px;width:183px;min-height:48px;}
.size-33{min-width:42px;width:42px;min-height:42px;height:42px;}
.cont-46{z-index:49;pointer-events:auto;}
.img-10{position:absolute;left:0;width:42px;height:42px;top:0;}
.size-34{min-width:125px;width:125px;min-height:48px;}
.cont-47{z-index:47;pointer-events:auto;}
.size-35{min-width:125px;width:125px;min-height:21px;height:21px;}
.cont-48{z-index:50;pointer-events:auto;}
.pos-35{position:relative;margin-left:0;margin-top:68px;}
.pos-36{position:relative;margin-left:-183px;margin-top:124px;}
.cont-49{z-index:52;border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(245,245,245);}
.pos-37{position:relative;margin-left:17px;margin-top:13px;}
.size-36{min-width:187px;width:187px;min-height:49px;}
.size-37{min-width:44px;width:44px;min-height:44px;height:44px;}
.cont-50{z-index:54;pointer-events:auto;}
.img-11{position:absolute;left:0;width:44px;height:44px;top:0;}
.cont-51{z-index:58;pointer-events:auto;}
.cont-52{z-index:59;pointer-events:auto;}
.pos-38{position:relative;margin-left:332px;margin-top:360px;}
.size-38{min-width:171px;width:171px;min-height:77px;height:77px;}
.cont-53{z-index:60;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font-3{font-family:"Helvetica Neue", sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(184,184,184);background-color:initial;line-height:24px;letter-spacing:normal;text-shadow:none;}
